*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
    
}
#container{
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    display: flex;
    align-items: center;
    justify-content: center;

    
    height: 100%;
    width: 100%;
    
}
#panel{
    height: 80%;
    width: 80%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 20px 25px;
    border-radius: 15px;
    
    background: transparent;
}
#upperPanel{
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box{
    height: 40px;
    width: 40px;
    background-color: #0F2027;
}
.elements{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    

}

