*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    color-scheme: dark;
    height: 100%;
    width: 100%;
}
#container{
    background-color: rgba(156, 238, 238, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;   
}
#panel{
    height: 80%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 20px 25px;
    border-radius: 15px;
    background-color: rgb(109, 194, 228); 
    overflow: hidden;
    border: 2px solid black;
}
#upperPanel{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: black;
    padding-top: 25px;
}
.box{
    height: 55px;
    width: 55px;
    background-color: #0F2027;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: transparent;
}
.elements {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
#mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
#numbers{
    background: transparent;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px ;
    font-weight: 100;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #222222;
    color:white;  
}
#numbers:hover{
    background: #444444;
}

